In [ ]:
x =int(input("Enter a Number:"))
if (x%2==0):
    print("even number")
else:
    print("odd number")

In [ ]:
sum=0
while True:
    x=int(input("enter a number:"))
    if (x%3==0):
        continue
    sum=sum+x
    if (sum>100):
        break
print(sum)

In [ ]:
n=10
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,n,2):
    print(l[i])

In [ ]:
l=[]
n=int(input("HOW MANY ELEMENTS WOULD YOU LIKE TO ADD IN LIST? - "))
for i in range(n):
    x=int(input())
    l.append(x)
print(l)

In [ ]:
#smallest
#none datatype
l=[5,10,2,15,99,3,67,4]
smallest=l[0]
for i in range (1,len(l)):
    if l[i]<smallest:
        smallest=l[i]
print("smallest-",smallest)

In [ ]:
smallest=None
for i in [10,2,3,4,5]:
    if smallest is None:
        smallest=i
    elif i<smallest:
        smallest=i
        
print(smallest)

In [ ]:
import array as arr
l=[1,2,3,4,5]
b= arr.array('i',l)

for i in range(len(b)):
    print(b[i])

In [ ]:
import array as arr
l=[1,2,3,4,5,6,7,8,9,10]
b= arr.array('i',l)
x=6
print("Array before deletion")
for i in range(len(b)):
    print(b[i])
    
for i in range(len(b)):
    if b[i]==x:
        b.remove(x)
        break

print("Array after deletion")
for i in range(len(b)):
    print(b[i])

In [ ]:
import array as arr

b= arr.array('i',[])

while True:
    x=int(input("enter element"))
    b.append(x)
    line=input("would you like to continue? ")
    ch=line[0]
    if ch=='y':
        continue
    else:
        break


while True:
    y=int(input("ENTER ELEMENT YOU WOULD LIKE TO DELETE"))
    for i in range(len(b)):
        
        
        if b[i]==y:
            b.remove(y)
            break
    line=input("would you like to continue? ")
    ch=line[0]
    if ch=='y':
        continue
    else:
        break

print("Array after deletion")
for j in range(len(b)):
    print(b[j])

In [ ]:
import numpy as np
a=np.array([1,2,3])
type(a)

In [ ]:
import numpy as np
a=np.array([1,2,3])
b=np.array([[1,2,3,4],[5,6,7,8]])
c=np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(a[2])
print(b[1][3])
print(c[1][1][1])

In [ ]:
print(c.ndim)
print(b.ndim)

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5,6,7,8,9,10])
print(a[2:5])
print(a[2:7:2])
print(a[-1:])
print(a[-2:])
print(a[:])
print(a[-3:-6:-1])
print(a[::-1])

In [ ]:
def fun():
    print('hi')
fun()

In [ ]:
def add(x,y):
    z=x+y
    print(z)
x=int(input("enter number 1-"))
y=int(input("enter number 2-"))
add(x,y)

In [ ]:
def add(x,y):
    return x+y
print(add(2,3))

In [ ]:
class first_class:
    def _init_(self):
        attr=1
        
        
    def fun(self):
        print(self.attr)
obj=first_class()

obj.fun()

In [ ]:
class Complex:
    def __init__(self):
        self.real=0
        self.img=0

    def __init__(self,x=0,y=0):
        self.real=x
        self.img=y
        print(self.real,'+i',self.img)
    def add(self,c):
        c3=Complex(0,0)
        c3.real=self.real+c.real
        c3.img=self.img+c.img
        print(c3.real,'+i',c3.img)
c1=Complex(1,2)
c2=Complex(4,5)
c1.add(c2)

In [ ]:
from typing import final


def div(a,b):
    try:
        c=a/b
        print("Answer: ",c)
        print("Division is successful")
        
    except Exception as x:
        print("Exception: ",type(x))
        print(":( uh oh! Division is not successful")
    finally:
        print("Formula was c=a/b")
        
x=input("Enter the 1st number: ")
y=input("Enter the 2nd number: ")

div(int(x),int(y))

In [ ]:
import pandas as pd
import numpy as np

data=pd.array([2,4,6,8,10])
s=pd.Series(data)
print(s)

Note

series is a one dimensional labeled array.
it contains similar datatype.  this is differentiable from dictionary.

In [ ]:
import pandas as pd
import numpy as np

data=pd.array([2,4,6,8,10])
s=pd.Series(data, index = ['a','b','c','d','e'])
print(s)

In [ ]:
data={'icas':1,'mit':2,'kmc':3}
s=pd.Series(data,index=['icas','mit','a','b','c','d'])
print(s)

In [ ]:
data=pd.array([2,4,6,8,10])
s=pd.Series(data, index = ['a','b','c','d','e'])
print(s[-2:])

In [ ]:
# Write the function for fibonacci series

def Fibonacci(n):
    if n == 0:
        return 0

    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
n =int(input("how many terms do you want?"))

for i in range(n):
   print( Fibonacci(i))

a data frame is 2d data structure like a table with rows and column.

In [ ]:
# creation of dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data ={"calories":[100,200,50],'duration':[5,2,3]}
df=pd.DataFrame(data)

print(df)
print(df.loc[0])

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv("/Users/Downloads/abc.csv")

print(df) #prints first 5 and last 5 
print(df.to_string())# prints the whole table
print(df.head())

In [ ]:
#to know no. of rows in the data file
print(pd.options.display.max_rows)
#use max-rows in the code
pd.options.display.max_rows=100
df=pd.read_csv("/Users/Downloads/abc.csv")
print(df)

In [ ]:
import panda as pd
import numpy as np
import matplotlib.pyplot as plt
station=['CHANDIGARH','BENGALURU','CHENNAI','JAIPUR','LUCKNOW','MUMBAI','NASHIK','NEW DELHI']

df = pd.DataFrame()

In [ ]:
def isprime(n):
    for i in range(2,n):
        if (n%i==0):
            count=1
        else:
            count=0
    return count
num=int (input("number--"))
x=isprime(num)
if(x==1):
    print("not prime")
elif(x==0):
    print("prime")

In [ ]:
file=open('abc.txt')
l=[]
b=[]
c=[]
for i in file:
    l.append(i)
    b=i.rstrip()
    c=i.split()
print(l)
print(b)
print(c)

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
l.pop(2)
print(l)

In [ ]:
file=open("abc.txt")
for a in file:
    print(a)

In [16]:
dic1={'a':10,'b':20,'c':30}
print(dic1)
for key,value in dic1.items():
    print(key)

{'a': 10, 'b': 20, 'c': 30}
a
b
c

In [26]:
for a in dic1:
    print(a)

a
b
c

In [29]:
dic1={'a':10,'b':20,'c':30}
keys1=[]
values2=[]
for key,value in dic1.items():
    keys.append(key)
    values.append(value)
print(keys)
print(values)

['a', 'b', 'c']
[10, 20, 30]

In [30]:
print(len(dic1))

3

In [41]:
dic2={'b':20,'a':10 ,'c':30}
print(dic1==dic2)

True

In [16]:
#mycode
    
dic1={'b':20,'a':10,'c':30}
k1=[]
v1=[]
for key,value in sorted(dic1.items()):
    k1.append(key)
    v1.append(value)
dic2={'c':30,'a':10,'b':20}
k2=[]
v2=[]
for key,value in sorted(dic2.items()):
    k2.append(key)
    v2.append(value)
if (k1==k2):
    if(v1!=v2):
        print('Same keys different values')
    elif(v1==v2):
        print('same dictionary')
elif(k1!=k2):
    print('keys are different')

same dictionary

In [4]:
def cmp(d1, d2):
    for k1 in d1:
        for k2 in d2:
            print(k1,k2)
            if k1!=k2:
                print("Keys are different ")
                
            
            if k1==k2:
                if d1[k1]==d2[k2]:
                    print("Values are found", d1[k1])
                    
d1={'a':10, 'b':20}
d2={'a':40, 'b':20}

cmp(d1,d2)

a a
a b
Keys are different
b a
Keys are different
b b
Values are found 20

In [5]:
dic1 = {'a':10 , 'b':20 , 'c':30}
dic2 = {'b':40 , 'a':50 , 'c':30}

for k1,k2 in zip(dic1,dic2):
    print(k1,k2)

a b
b a
c c

In [6]:
t = zip(dic1.items(),dic2.items())
print(tuple(t))

((('a', 10), ('b', 40)), (('b', 20), ('a', 50)), (('c', 30), ('c', 30)))

In [11]:
t = zip(sorted(dic1.items()),sorted(dic2.items()))
print(tuple(t))

((('a', 10), ('a', 50)), (('b', 20), ('b', 40)), (('c', 30), ('c', 30)))

In [12]:
sorted(dic1.items())

[('a', 10), ('b', 20), ('c', 30)]

In [14]:
sorted(dic2.items())

[('a', 50), ('b', 40), ('c', 30)]

In [20]:
dic1 = {'a':10 , 'b':20 , 'c':30}
dic2 = {'b':20 , 'a':10 , 'c':30}
print(sorted(dic1.items())==sorted(dic2.items()))

True

***zip will convert data into one data structure***

In [23]:
open("abc.txt","w")

 "w" creates a file if it doesnt exist

In [29]:
f1= open("abc.txt")
count =0
for i in  f1 :
    for j in i.split():
        if j == 'and' or j == 'And':
            count=count +1
print(count)

3

In [31]:
file = open("abc.txt")
for a in file:
    print(list(a))

['A', 'n', 'd', ' ', 'a', 'n', 'd', ' ', 'a', 'n', 'd', '\n']

In [35]:
lst=[]
count = 0 
file = open("abc.txt")

In [ ]:
import re
print("\n Matching and Extracting Data \n")
x = 'My 2 favourite numbers are 19 and 42'
y = re.findall('[0-9]+',x)
print(y)

In [ ]:
#Open the file specified by the user and raise an exception if the mode of file is other than read otherwise display the entire file and count the number of words in it

file= open(input("Enter the file name: "),"r")
if file.mode == "r":
    print(file.read())
    print("Number of words in the file: ",len(file.read().split()))
else:
    raise Exception("File is not in read mode")

In [5]:

import pandas as pd

series = pd.Series()
n = int(input("Enter the number of elements in the series: "))

for i in range(0, n):
    ele = input("Enter the elements of the series: ")
    series = series.append(pd.Series(ele))
    
print(series)

# series.get('a')
# series.set(0, "Hello")
series.get(0)

C:\Users\Anmol\AppData\Local\Temp\ipykernel_10332\1323882592.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series()

Enter the number of elements in the series: 2
Enter the elements of the series: k

C:\Users\Anmol\AppData\Local\Temp\ipykernel_10332\1323882592.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series = series.append(pd.Series(ele))

Enter the elements of the series: a
0    k
0    a
dtype: object

C:\Users\Anmol\AppData\Local\Temp\ipykernel_10332\1323882592.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series = series.append(pd.Series(ele))

0    k
0    a
dtype: object

In [10]:
data = {'one':[1.0,2.0,3.0,4.0],'two':[4.0,3.0,2.0,1.0]}
import pandas as pd
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [11]:
df["mean"]=df.mean(axis = 1)
df

   one  two  mean
a  1.0  4.0   2.5
b  2.0  3.0   2.5
c  3.0  2.0   2.5
d  4.0  1.0   2.5

In [15]:
import re
file = open("alphanum.txt", "r")

text = file.read()

s=re.findall('[0-9]+', text)
print(s)

['456']

In [1]:
import pandas as pd
import numpy as np
l=[]

while(True):
    
    x=int(input('enter num -'))
    l.append(x)
    ans=input("would you like to continue--")
    if(ans=='y'):
        continue
    else:
        break
data=pd.array(l)
s=pd.Series(data)
print()
#set value
s[1]=1000

print(s)
print()
print(s.get(0))
#returns the value at 0th index

enter num -1
would you like to continue--y
enter num -2
would you like to continue--n

0       1
1    1000
dtype: Int64

1

In [2]:
data = {'one':[1.0,2.0,3.0,4.0],'two':[4.0,3.0,2.0,1.0]}
import pandas as pd
df = pd.DataFrame(data,index=['a','b','c','d'])
df["mean"]=df.mean(axis = 1)
df

   one  two  mean
a  1.0  4.0   2.5
b  2.0  3.0   2.5
c  3.0  2.0   2.5
d  4.0  1.0   2.5